@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    overflow: hidden;
    background-image: url('../img/background.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% auto;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
    height: 58px;
}
.header-nav{
    height: 58px;
}

.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    position: relative;
}
.nav-list li:nth-child(2){
    margin-left: auto;
}
.nav-list li:last-child{
    margin-right: 79px;
}
.nav-list li:nth-last-child(2){
    margin-right: 7px;
}
.wellcome{
    margin-left: auto;
    color: #FFF;
}
.or-nav{
    color: #FFF;
}
.wellcome::before{
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    height: 19px;
    width: 1px;
    position: absolute;
    right: 290px;
    top: 20px;
}
.nav-list li:nth-last-child(3){
    margin-right: 50px;
}
.nav-list li:nth-last-child(4){
    margin-right: 24px;
}
.nav-list li:nth-last-child(5){
    margin-right: 27px;
}
.nav-list-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    color: #FFF;
}
.logo{
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    font-size: 22px;
    line-height: 22px;
    margin: 18px 0px 18px 79px;
    transition: color 0.2s;
}
.logo:hover{
    color: #3CB878;
}
.icon-nav{
    fill:white;
    transition: fill 0.2s;
}
.icon-nav:hover{
    fill: #3CB878;
}
.nav-list-link:hover{
    transition: color 0.2s;
    color: #3CB878;
}
.form{
    margin: 54px auto 0px auto;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    background: #FFFFFF;
    width: 444px;
}
.sign-up-or-login{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.sign-up{
    color: #434343;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin: 31px 0px 15px 61px;
}
.sign-up::before{
    content: "";
    display: block;
    position: absolute;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    left: 0px;
}
.log-in{
    margin:33px 59px 13px 200px;
    color:#3CB878;  
}
.green-link{
    color:#3CB878;  
    transition: color 0.2s;
}
.green-link:hover{
    color: #01813F;
}
.buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 160px;
    height: 48px;
    border-radius: 3px;
    border: 0px;
    margin-top: 15px;
    transition: background-color 0.2s;
}
.button:focus{
    outline: none;
}
.facebook:hover{
    background-color: #022263;
    cursor: pointer;
}
.facebook{
    background-color: #305DB8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 22px;
    position: relative;
    margin-right: 8px;
}
.facebook-h2{
    color:#FFF;
    line-height: 16px;
    font-size: 16px;
    margin-left: 38px;
    
}
.facebook-h2::before{
    content: "";
    display: block; 
    width: 1px;
    height: 19px;
    background-color: #0A162F;
    opacity: 0.1;
    position: absolute;
    right: 115px;
    top: 15px;
}
.facebook-icon{
    margin: 12px 0px 12px 16px;
    transform: scale(1.3); 
}
.google{
    background-color: #DF4A32;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 22px;
    position: relative;
}
.google:hover{
    background-color: #AB1F09;
    cursor: pointer;
}
.google-h2{
    color:#FFF;
    line-height: 16px;
    font-size: 16px;
    margin-left: 38px;
}
.google-icon{
    margin: 12px 0px 12px 16px; 
}
.google-h2::before{
    content: "";
    display: block; 
    width: 1px;
    height: 19px;
    background-color:#2B0D09;
    opacity: 0.1;
    position: absolute;
    right: 100px;
    top: 15px;
}
.or-div{
    position: relative;

}
.or{
    margin-top: 31px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
}
.or::before{
    position: absolute;
    content: "";
    display: block;
    width: 152px;
    height: 0.5px;
    background-color: #F2F2F2;
    left: 58px;
    top: 50%;

}
.or::after{
    position: absolute;
    content: "";
    display: block;
    width: 152px;
    height: 0.5px;
    background-color: #F2F2F2;
    right: 58px;
    top: 50%;
}
.input-name{
    margin: 0 auto;
}
.name{
    width: 324px;
    height: 46px;
    margin: 15px 60px 0px 60px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 16px 0px 16px 20px;
    
}
.name[value="Jason"]{
    margin-top: 11px;
    line-height: 14px;
}
.name:focus{
    outline: none;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);   
}
.name::placeholder{
    font-size: 14px;
    color: #BEBEBE;
    line-height: 14px;
}

/* убираем плейхолдер по фокусу во всех браузерах */

.name::-webkit-input-placeholder{
    opacity: 1; 
    transition: opacity 0.3s ease;
}
.name::-moz-placeholder{
    opacity: 1; 
    transition: opacity 0.3s ease;
}
.name:-moz-placeholder{
    opacity: 1; 
    transition: opacity 0.3s ease;
}
.name:-ms-input-placeholder{
    opacity: 1; 
    transition: opacity 0.3s ease;
}
.name:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.name:focus::-moz-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.name:focus:-moz-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.name:focus:-ms-input-placeholder{
    opacity: 0; 
    transition: opacity 0.3s ease;
}

/* ==================================== */

.terms{
    padding-top: 12px;
    margin-left: 61px;
    position: relative;
}
.terms-link{
    color: #37a86e;
    transition: color 0.2s;
    margin-left: 3px;
}
.terms-link:hover{    
    color: #01813F;  
}
.checkbox-terms{
    display: block;
    opacity: 0.1;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width:20px;
    height:20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
  .custom-checkbox:checked+label::before {
    border: 1px solid #F2F2F2;
    background-image: url("../img/galka.svg");
  }
.create{
    color: #FFF;
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    background-color: #3CB878;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 20px 60px 38px 60px;
    padding: 16px 99px;
    border-radius: 4px;
    transition: background-color 0.2s;
}
.create:hover{
    background-color: #01813F;

}
.create:focus{
    outline: none;
    border: none;
}